mixin menuFooter()
	.footer-menu-list
		.footer-menu-col
			a.footer-menu__list-item.footer-menu__list-item_main(href="markets.html")= menuItemText.markets[lang]
			a.footer-menu__list-item(href="forex.html")= menuItemText.forex[lang]
			a.footer-menu__list-item(href="metals.html")= menuItemText.metals[lang]
			a.footer-menu__list-item(href="stocks.html")= menuItemText.stocks[lang]
			a.footer-menu__list-item(href="goods.html")= menuItemText.goods[lang]
			a.footer-menu__list-item(href="indices.html")= menuItemText.indices[lang]
			a.footer-menu__list-item(href="cryptocurrencies.html")= menuItemText.cryptocurrencies[lang]
		.footer-menu-col
			a.footer-menu__list-item.footer-menu__list-item_main(href="about.html")= menuItemText.about[lang]
			a.footer-menu__list-item(href="members.html")= menuItemText.members[lang]
		.footer-menu-col
			a.footer-menu__list-item.footer-menu__list-item_main(href="trading-conditions.html")= menuItemText.tradingConditions[lang]
			a.footer-menu__list-item.footer-menu__list-item_main(href="contacts.html")= menuItemText.contacts[lang]
